In [4]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")

usecols = [
'latitude',
'longitude',
'housing_median_age',
'total_rooms',
'total_bedrooms',
'population',
'households',
'median_income',
'median_house_value',
'ocean_proximity']

data = pd.read_csv('housing.csv.1', usecols=usecols)

In [5]:
usecols = [
'latitude',
'longitude',
'housing_median_age',
'total_rooms',
'total_bedrooms',
'population',
'households',
'median_income',
'median_house_value',
'ocean_proximity']

data = pd.read_csv('housing.csv.1', usecols=usecols)

In [6]:
data.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.1200,241400.0,NEAR BAY
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY

In [7]:
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [9]:
data['total_bedrooms']=data.total_bedrooms.fillna(0)

In [10]:
data.isnull().sum()

longitude             0
latitude              0
housing_median_age    0
total_rooms           0
total_bedrooms        0
population            0
households            0
median_income         0
median_house_value    0
ocean_proximity       0
dtype: int64

- Create a new column rooms_per_household by dividing the column total_rooms by the column households from dataframe.
- Create a new column bedrooms_per_room by dividing the column total_bedrooms by the column total_rooms from dataframe.
 - Create a new column population_per_household by dividing the column population by the column households from dataframe.

In [12]:
data['rooms_per_household']=data.total_rooms / data.households
data['bedrooms_per_room']=data.total_bedrooms / data.total_rooms
data['population_per_household']=data.population / data.households

Question 1
What is the most frequent observation (mode) for the column ocean_proximity?

In [14]:
data['ocean_proximity'].mode()

0    <1H OCEAN
Name: ocean_proximity, dtype: object

Question 2
- Create the correlation matrix for the numerical features of your train dataset.
In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.
- What are the two features that have the biggest correlation in this dataset?

In [17]:
data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,rooms_per_household
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,532.476211,1425.476744,499.539680,3.870671,206855.816909,5.429000
std,2.003532,2.135952,12.585558,2181.615252,422.678333,1132.462122,382.329753,1.899822,115395.615874,2.474173
min,-124.350000,32.540000,1.000000,2.000000,0.000000,3.000000,1.000000,0.499900,14999.000000,0.846154
25%,-121.800000,33.930000,18.000000,1447.750000,292.000000,787.000000,280.000000,2.563400,119600.000000,4.440716
50%,-118.490000,34.260000,29.000000,2127.000000,431.000000,1166.000000,409.000000,3.534800,179700.000000,5.229129
75%,-118.010000,37.710000,37.000000,3148.000000,643.250000,1725.000000,605.000000,4.743250,264725.000000,6.052381
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000,141.909091

In [18]:
data_numeric = data.copy()
data_numeric = data.drop(["ocean_proximity"], axis=1)
data_numeric.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,rooms_per_household
count,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000,20640.000000
mean,-119.569704,35.631861,28.639486,2635.763081,532.476211,1425.476744,499.539680,3.870671,206855.816909,5.429000
std,2.003532,2.135952,12.585558,2181.615252,422.678333,1132.462122,382.329753,1.899822,115395.615874,2.474173
min,-124.350000,32.540000,1.000000,2.000000,0.000000,3.000000,1.000000,0.499900,14999.000000,0.846154
25%,-121.800000,33.930000,18.000000,1447.750000,292.000000,787.000000,280.000000,2.563400,119600.000000,4.440716
50%,-118.490000,34.260000,29.000000,2127.000000,431.000000,1166.000000,409.000000,3.534800,179700.000000,5.229129
75%,-118.010000,37.710000,37.000000,3148.000000,643.250000,1725.000000,605.000000,4.743250,264725.000000,6.052381
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000,141.909091

In [21]:
pd.set_option('display.max_rows', None)
data_numeric.corr()
data_numeric.corr().unstack().sort_values(ascending = False)

longitude            longitude              1.000000
latitude             latitude               1.000000
median_house_value   median_house_value     1.000000
median_income        median_income          1.000000
households           households             1.000000
population           population             1.000000
total_bedrooms       total_bedrooms         1.000000
total_rooms          total_rooms            1.000000
housing_median_age   housing_median_age     1.000000
rooms_per_household  rooms_per_household    1.000000
total_bedrooms       households             0.966507
households           total_bedrooms         0.966507
total_bedrooms       total_rooms            0.920196
total_rooms          total_bedrooms         0.920196
households           total_rooms            0.918484
total_rooms          households             0.918484
population           households             0.907222
households           population             0.907222
total_bedrooms       population             0.866266
population           total_bedrooms         0.866266
total_rooms          population             0.857126
population           total_rooms            0.857126
median_house_value   median_income          0.688075
median_income        median_house_value     0.688075
                     rooms_per_household    0.326895
rooms_per_household  median_income          0.326895
median_income        total_rooms            0.198050
total_rooms          median_income          0.198050
median_house_value   rooms_per_household    0.151948
rooms_per_household  median_house_value     0.151948
total_rooms          median_house_value     0.134153
median_house_value   total_rooms            0.134153
total_rooms          rooms_per_household    0.133798
rooms_per_household  total_rooms            0.133798
latitude             rooms_per_household    0.106389
rooms_per_household  latitude               0.106389
housing_median_age   median_house_value     0.105623
median_house_value   housing_median_age     0.105623
longitude            population             0.099773
population           longitude              0.099773
total_bedrooms       longitude              0.068082
longitude            total_bedrooms         0.068082
median_house_value   households             0.065843
households           median_house_value     0.065843
longitude            households             0.055310
households           longitude              0.055310
median_house_value   total_bedrooms         0.049148
total_bedrooms       median_house_value     0.049148
longitude            total_rooms            0.044568
total_rooms          longitude              0.044568
median_income        households             0.013033
households           median_income          0.013033
latitude             housing_median_age     0.011173
housing_median_age   latitude               0.011173
median_income        population             0.004834
population           median_income          0.004834
rooms_per_household  total_bedrooms         0.002717
total_bedrooms       rooms_per_household    0.002717
median_income        total_bedrooms        -0.007295
total_bedrooms       median_income         -0.007295
median_income        longitude             -0.015176
longitude            median_income         -0.015176
population           median_house_value    -0.024650
median_house_value   population            -0.024650
longitude            rooms_per_household   -0.027540
rooms_per_household  longitude             -0.027540
latitude             total_rooms           -0.036100
total_rooms          latitude              -0.036100
median_house_value   longitude             -0.045967
longitude            median_house_value    -0.045967
latitude             total_bedrooms        -0.065318
total_bedrooms       latitude              -0.065318
latitude             households            -0.071035
households           latitude              -0.071035
rooms_per_household  population            -0.072213
population           rooms_per_household   -0.072213
median_income        latitude              -0.079809
latitude             median_income         -0.079809
households           rooms_per_household   -0.080598
rooms_per_household  households            -0.080598
housing_median_age   longitude             -0.108197
longitude            housing_median_age    -0.108197
latitude             population            -0.108785
population           latitude              -0.108785
housing_median_age   median_income         -0.119034
median_income        housing_median_age    -0.119034
latitude             median_house_value    -0.144160
median_house_value   latitude              -0.144160
rooms_per_household  housing_median_age    -0.153277
housing_median_age   rooms_per_household   -0.153277
population           housing_median_age    -0.296244
housing_median_age   population            -0.296244
                     households            -0.302916
households           housing_median_age    -0.302916
total_bedrooms       housing_median_age    -0.317063
housing_median_age   total_bedrooms        -0.317063
                     total_rooms           -0.361262
total_rooms          housing_median_age    -0.361262
longitude            latitude              -0.924664
latitude             longitude             -0.924664
dtype: float64

In [22]:
data_class = data.copy()
mean = data_class['median_house_value'].mean()

data_class['above_average'] = np.where(data_class['median_house_value']>=mean,1,0)

In [24]:

from sklearn.model_selection import train_test_split
data_class = data_class.drop('median_house_value', axis=1)
df_train_full, df_test = train_test_split(data_class, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=42)
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)
y_train = df_train.above_average.values
y_val = df_val.above_average.values
y_test = df_test.above_average.values

Question 3

In [26]:
from sklearn.metrics import mutual_info_score
cat = ['ocean_proximity']
def calculate_mi(series):
    return mutual_info_score(series, df_train.above_average)

df_mi = df_train[cat].apply(calculate_mi)
df_mi = df_mi.sort_values(ascending=False).to_frame(name='MI')


df_mi

                       MI
ocean_proximity  0.101384

Question 4

In [28]:
from sklearn.feature_extraction import DictVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

num =['latitude',
'longitude',
'housing_median_age',
'total_rooms',
'total_bedrooms',
'population',
'households',
'median_income']

train_dict = df_train[cat + num].to_dict(orient='records')

dv = DictVectorizer(sparse=False)
dv.fit(train_dict)

X_train = dv.transform(train_dict)
model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

val_dict = df_val[cat + num].to_dict(orient='records')
X_val = dv.transform(val_dict)

y_pred = model.predict(X_val)

accuracy = np.round(accuracy_score(y_val, y_pred),2)
print(accuracy)

0.84

In [30]:
orig_score = accuracy
features = cat + num
features

for c in features:
    subset = features.copy()
    subset.remove(c)
    
    train_dict = df_train[subset].to_dict(orient='records')

    dv = DictVectorizer(sparse=False)
    dv.fit(train_dict)

    X_train = dv.transform(train_dict)

    model = LogisticRegression(solver='lbfgs', C=1.0, random_state=42)
    model.fit(X_train, y_train)

    val_dict = df_val[subset].to_dict(orient='records')
    X_val = dv.transform(val_dict)

    y_pred = model.predict(X_val)

    score = accuracy_score(y_val, y_pred)
    print(c, orig_score - score, score)

ocean_proximity 0.03864341085271317 0.8013565891472868
latitude 0.013691860465116279 0.8263081395348837
longitude 0.01974806201550383 0.8202519379844961
housing_median_age 0.021928294573643425 0.8180717054263565
total_rooms 0.011753875968992245 0.8282461240310077
total_bedrooms 0.013691860465116279 0.8263081395348837
population 0.04106589147286821 0.7989341085271318
households 0.015629844961240313 0.8243701550387597
median_income 0.09654069767441853 0.7434593023255814

Question 6

In [34]:
data['median_house_value']=np.log1p(data['median_house_value'])

df_train_full, df_test = train_test_split(data, test_size=0.2, random_state=42)
df_train, df_val = train_test_split(df_train_full, test_size=0.25, random_state=42)
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)
y_train = df_train.median_house_value.values
y_val = df_val.median_house_value.values
y_test = df_test.median_house_value.values
del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

train_dict = df_train[cat + num].to_dict(orient='records')
dv = DictVectorizer(sparse=False)
dv.fit(train_dict)

X_train = dv.transform(train_dict)

val_dict = df_val[cat + num].to_dict(orient='records')
X_val = dv.transform(val_dict)
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
for a in [0, 0.01, 0.1, 1, 10]:
    model = Ridge(alpha=a, solver="sag", random_state=42)
    model.fit(X_train, y_train)
    
    y_pred = model.predict(X_val)
    
    score = np.sqrt(mean_squared_error(y_val, y_pred))
    
    print(a, round(score, 3))

0 0.005
0.01 0.005
0.1 0.005
1 0.005
10 0.005